/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@100;200&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"); */



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #0e0e0e;
}

/* .paper-font {
  font-family: 'Dancing Script','Poppins', serif;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b91c1c;
  border-radius: 3px;
  border-left: 2px solid #160c0c;
  border-right: 4px solid #160c0c;
}
